<div balmaud-animation="nav-colour-swap" class="hero_wrapper">
          <div class="hero_layout">
            <div id="w-node-_59145f3c-de83-3070-770f-0f9e5ed39364-dc3bc708" class="hero_info_layout">
              <p balmaud-animation="fade-in" id="w-node-_59145f3c-de83-3070-770f-0f9e5ed39365-dc3bc708" class="hero_eyebrow">The Diary</p>
              <h1 li-object="article.title" balmaud-animation="split-fade-in" data-stagger="0.05" id="w-node-_59145f3c-de83-3070-770f-0f9e5ed39367-dc3bc708" class="hero_heading">{{ article.title }}</h1>
            </div>
            <div id="w-node-_59145f3c-de83-3070-770f-0f9e5ed39369-dc3bc708" class="hero_detail-text_wrapper">
              <p class="hero_detail-text">Single estate distillery</p>
              <p class="hero_detail-text">Single estate distillery</p>
              <p class="hero_detail-text">Single estate distillery</p>
            </div>
          </div><img class="hero_background-content" src="{{ 'image-1.webp' | asset_url }}" balmaud-animation="content-fade-in" alt="" li-object="article.image" sizes="100vw" loading="lazy" srcset="{{ 'image-1-p-500.webp' | asset_url }} 500w, {{ 'image-1-p-800.webp' | asset_url }} 800w, {{ 'image-1-p-1080.webp' | asset_url }} 1080w, {{ 'image-1-p-1600.webp' | asset_url }} 1600w, {{ 'image-1-p-2000.webp' | asset_url }} 2000w, {{ 'image-1.webp' | asset_url }} 2160w">
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Article Hero",
    "class": "hero_section",
    "presets": [
        {
            "name": "Article Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}