<script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="product_component">
              <div id="w-node-f727b04f-0fb7-b1ec-5db9-c7264e4cbfb1-4e4cbfad" class="product_heading-wrapper">
                <div class="product_heading">
                  <div class="max-width-large">
                    <h2 li-settings:text="Heading" class="heading-style-h2">{{ section.settings.text_heading }}</h2>
                  </div>
                </div>
                <div class="product_button-row hide-mobile-landscape">
                  <a li-settings:url="Button-Link" li-settings:text="Button-Text" href="{{ section.settings.url_button_link }}" class="button w-button">{{ section.settings.text_button_text }}</a>
                </div>
              </div>
              <div class="product_list-wrapper w-dyn-list">
                <div role="list" class="product_list w-dyn-items">
                  <div li-settings:collection="Collection" role="listitem" class="product_list-item w-dyn-item">
                    <div li-snippet:product="product" li-snippet="product-item">
                      <div li-element="product-variant-container" class="product-item_component" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() =&gt; { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
                        <div class="product-item_image-link">
                          <a li-object:href="product.url" href="{{ product.url }}" class="product-item_image-wrapper w-inline-block"><img li-object:alt="product.featured_image.alt" loading="lazy" li-object:src="product.featured_image | image_url: width: 450" src="{{ product.featured_image | image_url: width: 450 }}" alt="{{ product.featured_image.alt }}" class="product-item_image"></a>
                          <div class="product-item_tag_list">
                            {% if product.selected_or_first_available_variant.available != true %}<div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">Not in Stock</div>{% endif %}
                            <!-- if product.compare_at_price_max > product.price --><div li-if="product.compare_at_price_max &gt; product.price" class="product-item_tag is-red">Sale</div>{% endif %}
                          </div>
                        </div>
                        <div class="spacer-xxsmall"></div>
                        <a li-object:href="product.url" href="{{ product.url }}" class="product-item_text-link w-inline-block">
                          <div class="product-item_left">
                            <div li-object="product.vendor" class="text-size-small">{{ product.vendor }}</div>
                            <div li-object="product.title" class="heading-style-h4 text-weight-normal">{{ product.title }}</div>
                          </div>
                          <div class="product-item_price">
                            <!-- if product.compare_at_price_max > product.price --><div li-if="product.compare_at_price_max &gt; product.price">
                              <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>
                            </div>{% endif %}
                            <div li-object="product.price | money" class="text-size-regular">{{ product.price | money }}</div>
                          </div>
                        </a>
                        <div class="spacer-small"></div>
                        <div class="margin-top-auto">
                          <div class="product-item_form-wrapper">
                            {% if product.available == true %}<div li-if="product.available == true">
                              <a li-element="add-to-cart" href="#" class="button max-width-full w-button">Add to Cart</a>
                            </div>{% endif %}
                            {% if product.available != true %}<div li-if="product.available != true">
                              <a href="#" class="button is-secondary pointer-events-off max-width-full w-button">Not in Stock</a>
                            </div>{% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hide w-dyn-empty">
                  <div>No items found.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Featured products",
    "class": "section_product",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Short heading here"
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button-Link"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "All products"
        },
        {
            "id": "collection_collection",
            "type": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Featured products",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}