<div class="manifesto_wrapper">
          <div class="manifesto_layout">
            <div id="w-node-_50a15051-2bb3-952d-17db-12e039aa0367-b972f49a" class="manifesto_image_wrapper">
              <div class="manifesto_image is-absolute">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'manifesto_image', sizes: '100vw' }}
{% else %}
<img src="" class="manifesto_image" alt="" sizes="100vw" loading="lazy">
{% endif %}
                <div class="manifesto_image_mask"></div>
              </div>
            </div>
            <p id="w-node-b04870a1-5c7a-415e-37e9-ce8771d9cf5f-b972f49a" class="manifesto_eyebrow">Our Manifesto</p>
            <p balmaud-animation="fade-in" id="w-node-e81f4778-228d-ac66-4e64-f936846ebe6c-b972f49a" class="manifesto_paragraph">{{ section.settings.text_paragraph }}</p>
            <h2 data-stagger="0.05" balmaud-animation="split-fade-in" id="w-node-a6aa2052-33f2-bba1-a56c-d0445962e633-b972f49a" class="manifesto_heading heading-style-h4">{{ section.settings.text_heading }}</h2>
            <div id="w-node-_84ef53f1-0854-3589-c67e-a5e2e7ee8283-b972f49a" class="manifesto_image_wrapper">
              <div class="manifesto_image">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'manifesto_image', sizes: '100vw' }}
{% else %}
<img src="" class="manifesto_image" alt="" sizes="100vw" loading="lazy">
{% endif %}
                <div class="manifesto_image_mask"></div>
              </div>
              <div class="manifesto_vertical-text_wrapper text-color-secondary">
                <p class="manifesto_vertical-text_item">FAMILY GROWN FOR THREE<br> GENERATIONS, THIS IS OUR SPIRIT.</p>
                <p class="manifesto_vertical-text_item">NEW TO DISTILLING<br>NOT TO BARLEY</p>
                <p class="manifesto_vertical-text_item">BALMAUD DISTILLERY<br>BANFF, ABERDEEN</p>
              </div>
            </div>
          </div><img src="{{ 'HARE_DETAIL.svg' | asset_url }}" loading="lazy" alt="" class="manifesto_background-detail-image">
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Manifesto",
    "class": "manifesto_section",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "Great whisky should be as good for our planet as it is for our customers. A new gold standard for sustainable luxury whisky making, Perfecting our product by controlling all facets of the production process, from growth to grain to glass."
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Old School FarmersNew School Distillers"
        }
    ],
    "presets": [
        {
            "name": "Manifesto",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}