<div class="moment_wrapper">
          <div class="moment_layout text-color-white"><video src="https://dl.dropboxusercontent.com/scl/fi/bwp8y6ed83mxlmwti0hjs/BALMAUD_MASTER_EDIT_2.webm?rlkey=vs9y73wplencgpe990xczkpkw&amp;dl=0" autoplay="true" muted="" playsinline="true" loop="" class="moment_background-video"></video>
            <p li-settings:text="Heading Eyebrow" balmaud-animation="fade-in" id="w-node-_5b42ad84-32ea-3731-2cd6-004ca5aaff66-777000c8" class="moment_eyebrow">{{ section.settings.text_heading_eyebrow }}</p>
            <h2 li-settings:text="Heading" balmaud-animation="split-fade-in" data-stagger="0.05" id="w-node-_2b32aadf-7db7-bcdd-4eec-7e26fce85adf-777000c8" class="moment_heading">{{ section.settings.text_heading }}</h2>
            <div id="w-node-_00b830bf-748d-f52a-6705-6b447727c67d-777000c8" class="moment_paragraph_layout">
              <p li-settings:text="Paragraph 1" balmaud-animation="fade-in" class="moment_paragraph">{{ section.settings.text_paragraph_1 }}</p>
              <p li-settings:text="Paragraph 2" balmaud-animation="fade-in" class="moment_paragraph">{{ section.settings.text_paragraph_2 }}</p>
              <p li-settings:text="Paragraph 3" balmaud-animation="fade-in" class="moment_paragraph">{{ section.settings.text_paragraph_3 }}</p>
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Moment",
    "class": "moment_section",
    "settings": [
        {
            "id": "text_heading_eyebrow",
            "type": "text",
            "label": "Heading Eyebrow",
            "default": "A Highland Single eState Distillery"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "A MOMENT IN HISTORY IS UNFOLDING"
        },
        {
            "id": "text_paragraph_1",
            "type": "text",
            "label": "Paragraph 1",
            "default": "As one of the only Highland single estate distilleries, we offer something truly rare: complete provenance. From field to bottle, every step of our whisky’s journey happens on our estate,  the barley is grown in our fields, the water drawn from our land, and the spirit distilled and matured on-site."
        },
        {
            "id": "text_paragraph_2",
            "type": "text",
            "label": "Paragraph 2",
            "default": "This unique level of control ensures exceptional quality, a lighter environmental footprint, and an authentic expression of our Highland terroir. It’s whisky with a true sense of place, crafted with integrity, rooted in heritage."
        },
        {
            "id": "text_paragraph_3",
            "type": "text",
            "label": "Paragraph 3",
            "default": "Our barley is grown and harvested in the fields surrounding the distillery, a deliberate choice to preserve freshness, flavour, and a connection to place. The soil is carefully conditioned, nourished and watched closely through the changing seasons. We plant early, giving our crop more time to develop. The result is a raw ingredient that speaks of its landscape, refined, reliable, and rich in character."
        }
    ],
    "presets": [
        {
            "name": "Moment",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}