<div balmaud-animation="nav-colour-swap" class="product-hero_wrapper">
          <div li-element="product-variant-container" class="product-hero_layout">
            <div balmaud-animation="fade-in" id="w-node-_15cfefe5-5e9f-a623-058d-317be009b4d1-35b5186b" class="product-hero_info_layout">
              <h1 li-object:text="product.title" class="product-hero_info_heading heading-style-h6 text-style-allcaps">{{ product.title }}</h1>
              <div class="w-richtext">{{ product.description }}</div>
              <div class="product-header_form-block w-form">
                <form method="get" li-form:product="" name="wf-form-Add-To-Basket" data-name="Add To Basket" li-form="product" id="wf-form-Add-To-Basket" class="product-header_default-state" data-wf-page-id="688218e5775a24db35b5186b" data-wf-element-id="309c3130-6df7-40cd-a07d-e1cee35156f4">
                  {% if product.has_only_default_variant != true %}<div li-if="product.has_only_default_variant != true" class="product-header_option-list">
                    <div li-element="product-options-loop" class="product-header_option">
                      <div class="product-header_radio-list"><label li-element="product-option-loop" class="product-header_radio w-radio">
                          <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div><input type="radio" name="Radio" id="radio" data-name="Radio" li-element="product-option-input" style="opacity:0;position:absolute;z-index:-1" value="Radio">
                          <div li-js-object="'£' + variants.find(variant =&gt; variant.options.includes(variantName))?.price / 100" class="product-header_radio_label">£10</div>
                          <div class="product-header_radio_label is-dash">-</div><span li-element="product-option-name" class="product-header_radio_label w-form-label" for="radio">70cl bottle</span>
                        </label></div>
                    </div>
                  </div>{% endif %}
                  <div class="product-header_add-to-cart-wrapper">
                    <div li-js-if="selected_or_first_available_variant.available" class="product-header_buy-wrappper"><input class="product-header_quantity-field w-input" maxlength="256" name="quantity" li-element="add-to-cart-quantity" data-name="Quantity" placeholder="1" type="number" id="quantity" required="">
                      <a li-element="add-to-cart" href="#" class="button is-dark-outline w-button">Add to Basket</a>
                      <a li-element="checkout-add-to-cart" href="#" class="button is-dark w-button">Buy Now</a>
                    </div>
                    <div li-js-if="!selected_or_first_available_variant.available" class="product-header_out-of-stock">
                      <a href="#" class="product-header_out-of-stock_text w-button">Not in Stock</a>
                    </div>
                  </div>
                </form>
                <div class="hide w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="hide w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
              <div class="product-hero_info_dropdowns_layout">
                <div class="product-hero_dropdown">
                  <div class="product-hero_dropdown_toggle">
                    <div>Tasting Notes</div>
                    <div class="product-hero_dropdown-toggle_icon">+</div>
                  </div>
                  <div class="product-hero_dropdown_navigation">
                    <div class="product-hero_dropdown_paragraph w-richtext">{{ product.metafields.custom.tasting_notes | metafield_tag }}</div>
                  </div>
                </div>
                <div class="product-hero_dropdown">
                  <div class="product-hero_dropdown_toggle">
                    <div>Allergens</div>
                    <div class="product-hero_dropdown-toggle_icon">+</div>
                  </div>
                  <div class="product-hero_dropdown_navigation">
                    <div class="product-hero_dropdown_paragraph w-richtext">{{ product.metafields.custom.allergens | metafield_tag }}</div>
                  </div>
                </div>
                <div class="product-hero_dropdown">
                  <div class="product-hero_dropdown_toggle">
                    <div>Delivery Information</div>
                    <div class="product-hero_dropdown-toggle_icon">+</div>
                  </div>
                  <div class="product-hero_dropdown_navigation">
                    <div class="product-hero_dropdown_paragraph w-richtext">{{ product.metafields.custom.delivery_information | metafield_tag }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div id="w-node-_8c7ea2ab-254b-f395-76e7-df40297bc0f6-35b5186b" class="product-hero_slider">
              {% for image in product.images %}<div class="product-hero_slider_slide"><img class="product-hero_slider_image" src="{{ image.src | image_url: width: 1500 }}" balmaud-animation="fade-in" alt="{{ image.alt }}" li-object:src="image.src | image_url: width: 1500" loading="lazy" li-object:alt="image.alt"></div>{% endfor %}
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Product-Hero",
    "class": "product-hero_section",
    "presets": [
        {
            "name": "Product-Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}