<div class="mobile_timeline_wrapper">
          <div class="mobile_timeline_layout">
            <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74906-293f54b6" class="mobile_timeline_info_wrapper">
              <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74907-293f54b6" class="mobile_timeline_info_component">
                <div class="mobile_timeline_images_section">
                  <div class="mobile_timeline_images_block"><img src="{{ '20250415-1134_001.webp' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 983.9931030273438px" srcset="{{ '20250415-1134_001-p-500.webp' | asset_url }} 500w, {{ '20250415-1134_001-p-800.webp' | asset_url }} 800w, {{ '20250415-1134_001.webp' | asset_url }} 984w" alt="" class="mobile_timeline_images_item _1"></div>
                  <div class="mobile_timeline_images_block"><img src="{{ 'BALMAUD-FAMILY-STILLS-SCAN-7.webp' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 860.98095703125px" srcset="{{ 'BALMAUD-FAMILY-STILLS-SCAN-7-p-500.webp' | asset_url }} 500w, {{ 'BALMAUD-FAMILY-STILLS-SCAN-7-p-800.webp' | asset_url }} 800w, {{ 'BALMAUD-FAMILY-STILLS-SCAN-7.webp' | asset_url }} 861w" alt="" class="mobile_timeline_images_item _2"><img src="{{ '20250415-1131_001.webp' | asset_url }}" loading="lazy" sizes="(max-width: 767px) 100vw, 715.9896240234375px" srcset="{{ '20250415-1131_001-p-500.webp' | asset_url }} 500w, {{ '20250415-1131_001.webp' | asset_url }} 716w" alt="" class="mobile_timeline_images_item _3"></div>
                </div>
                <div class="mobile_timeline_info_layout">
                  <h2 id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74909-293f54b6" class="timeline_heading">THREE GENERATIONS TO REACH THIS POINT</h2>
                  <p id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b7490b-293f54b6" class="timeline_info_paragraph">Balmaud began not as a distillery, but as a family farm – with the family farming for generations in the North East of Scotland. It was George Strachan who first saw the potential of this land, moving to Mill of Balmaud Farm in 1958 alongside his brother, Nat. That knowledge has now been passed down through three generations.<br><br>For years, building a distillery on the farm was just a dream. An idea found a place in Wilson’s mind and slowly grew, later starting conversations around the kitchen table and developing into what we now call Balmaud. George imagined a spirit made from their own barley, shaped by their own hands. Today, that vision lives on in Balmaud – a new name in Scotch whisky, but one built on generations of hard work, care, and connection to the land.</p>
                  <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74913-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">THE BEGINNING OF THE FARMING</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="mobile_timeline_info_component">
                <div class="mobile_timeline_images_section">
                  <div class="mobile_timeline_images_block"><img src="{{ 'BALMAUD-FAMILY-STILLS-SCAN-6.webp' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'BALMAUD-FAMILY-STILLS-SCAN-6-p-500.webp' | asset_url }} 500w, {{ 'BALMAUD-FAMILY-STILLS-SCAN-6-p-800.webp' | asset_url }} 800w, {{ 'BALMAUD-FAMILY-STILLS-SCAN-6-p-1080.webp' | asset_url }} 1080w, {{ 'BALMAUD-FAMILY-STILLS-SCAN-6.webp' | asset_url }} 1182w" alt="" class="mobile_timeline_images_item _4"></div>
                </div>
                <div class="mobile_timeline_info_layout">
                  <h2 id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b7491d-293f54b6" class="timeline_heading">Providing to the whisky world</h2>
                  <p id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b7491f-293f54b6" class="timeline_info_paragraph">Before Balmaud became a distillery, it was already part of the whisky world. For decades, the Strachan family’s barley quietly made its way into some of Scotland’s most celebrated spirits – grown to the highest standards, trusted by master distillers, and known for its quality.<br><br>Farming over 1,750 acres across Aberdeenshire, the family has long been one of the region’s most respected suppliers of malting barley.This behind-the-scenes contribution laid the foundation for what Balmaud would become: a distillery built with respect for tradition, but a desire to do things differently – bringing every step of the process home.</p>
                  <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74927-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">THE BEGINNING OF THE FARMING</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="mobile_timeline_info_component">
                <div class="mobile_timeline_images_section">
                  <div class="mobile_timeline_images_block"><img src="{{ 'April_balmaud_shoot-3-2.webp' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 979.9913940429688px" srcset="{{ 'April_balmaud_shoot-3-2-p-500.webp' | asset_url }} 500w, {{ 'April_balmaud_shoot-3-2-p-800.webp' | asset_url }} 800w, {{ 'April_balmaud_shoot-3-2.webp' | asset_url }} 980w" alt="" class="mobile_timeline_images_item _5"></div>
                  <div class="mobile_timeline_images_block"><img src="{{ 'Still-2025-05-14-165856_1.163.1-3.webp' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 768.9844360351562px" srcset="{{ 'Still-2025-05-14-165856_1.163.1-3-p-500.webp' | asset_url }} 500w, {{ 'Still-2025-05-14-165856_1.163.1-3.webp' | asset_url }} 769w" alt="" class="mobile_timeline_images_item _6"></div>
                </div>
                <div class="mobile_timeline_info_layout">
                  <h2 id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74931-293f54b6" class="timeline_heading">A single estate distillery</h2>
                  <p id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74933-293f54b6" class="timeline_info_paragraph">Balmaud is a true Highland Single Estate Distillery – where every part of the whisky-making journey happens in one place, on land the family knows like the back of their hands.Barley is grown in the fields surrounding the stillhouse. Water is drawn just yards away, from a source that has served the farm for decades. And the distillery is powered by two on-site wind turbines, generating clean energy from the same landscape that grows the grain.<br><br>From fermentation through to cask storage, everything happens here. It’s a process built with care, precision and full traceability – from seed to spirit. That level of control means every cask reflects the values Balmaud was founded on: integrity, sustainability, and a deep respect for the land.</p>
                  <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b7493b-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">THE BEGINNING OF THE FARMING</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="mobile_timeline_info_component">
                <div class="mobile_timeline_images_section">
                  <div class="mobile_timeline_images_block"><img src="{{ 'Screenshot-2024-09-24-at-11.19.49-2.webp' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 873.9844360351562px" srcset="{{ 'Screenshot-2024-09-24-at-11.19.49-2-p-500.webp' | asset_url }} 500w, {{ 'Screenshot-2024-09-24-at-11.19.49-2-p-800.webp' | asset_url }} 800w, {{ 'Screenshot-2024-09-24-at-11.19.49-2.webp' | asset_url }} 874w" alt="" class="mobile_timeline_images_item _7"></div>
                </div>
                <div class="mobile_timeline_info_layout">
                  <h2 id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74945-293f54b6" class="timeline_heading">A Focus on sustainability</h2>
                  <p id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74947-293f54b6" class="timeline_info_paragraph">Sustainability isn’t just a feature of the Balmaud distillery – it’s part of its foundation. From the earliest planning stages, every decision has been made with care for the land and long-term responsibility in mind.<br><br>The two wind turbines that power the distillery draw energy from the same hills that grow the grain. Heat and water are recycled throughout the process, improving efficiency and reducing bi-product, with the remainder being thoughtfully disposed of through an anaerobic digestion system. With the whisky-making journey taking place on-site, emissions are reduced at every step – from grain to cask.</p>
                  <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b7494f-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">THE BEGINNING OF THE FARMING</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="mobile_timeline_info_component">
                <div class="mobile_timeline_images_section">
                  <div class="mobile_timeline_images_block"><img src="{{ 'Group-773.webp' | asset_url }}" loading="lazy" sizes="(max-width: 991px) 100vw, 974.9913940429688px" srcset="{{ 'Group-773-p-500.webp' | asset_url }} 500w, {{ 'Group-773-p-800.webp' | asset_url }} 800w, {{ 'Group-773.webp' | asset_url }} 975w" alt="" class="mobile_timeline_images_item _8"></div>
                </div>
                <div class="mobile_timeline_info_layout">
                  <h2 id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74959-293f54b6" class="timeline_heading">Our First Spirit Release</h2>
                  <p id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b7495b-293f54b6" class="timeline_info_paragraph">Balmaud’s story begins not with whisky, but with the release of our debut Scottish Dry Gin followed soon after with a vodka and rum – a first glimpse into the spirit of what we’re building, while our whisky quietly matures.<br><br>Distilled on-site using the same careful standards that define our whisky-making, this gin is refreshing and gently complex. The nose opens with soft citrus, orange, lemon, and a delicate hint of pomegranate. On the palate, a sweet, fruity start gives way to clean citrus notes, with a light touch of juniper on the finish - best enjoyed, simply, with tonic and a slice of orange.<br><br>This gin marks the start of a new chapter for the family - and offers a first taste of the care, craft and character that will define every spirit to come.</p>
                  <div id="w-node-_95de030b-13e7-b8d7-b355-ce7e01b74963-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">THE BEGINNING OF THE FARMING</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 1940</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline_wrapper">
          <div class="timeline_layout">
            <div id="w-node-_61609810-e9aa-511d-d1a6-b657e146fe86-293f54b6" class="timeline_info_wrapper">
              <div id="w-node-_6dd19e8e-94b1-7d25-8572-fcbafa154596-293f54b6" class="timeline_info_component">
                <div class="timeline_info_layout">
                  <h2 li-settings:text="Timeline Heading 1" id="w-node-_4aa4fcbd-23f5-04e0-29f6-15e977e5b77b-293f54b6" class="timeline_heading">{{ section.settings.text_timeline_heading_1 }}</h2>
                  <div id="w-node-ee338332-5f82-fe06-1f96-2c11826da592-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">The story so far</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                  <p li-settings:text="Timeline Paragraph 1" id="w-node-_6dcd8a0f-2354-0c47-d61b-06e77ab818ac-293f54b6" class="timeline_info_paragraph">{{ section.settings.text_timeline_paragraph_1 }}</p>
                </div>
              </div>
              <div class="timeline_info_component">
                <div class="timeline_info_layout">
                  <h2 li-settings:text="Timeline Heading 2" id="w-node-e223f5a5-c1ea-fb94-1eb2-2eb5a5fdda84-293f54b6" class="timeline_heading">{{ section.settings.text_timeline_heading_2 }}</h2>
                  <p li-settings:text="Timeline Paragraph 2" id="w-node-_3022a1a1-e5fa-1996-1f63-f44f83487684-293f54b6" class="timeline_info_paragraph">{{ section.settings.text_timeline_paragraph_2 }}</p>
                  <div id="w-node-_20511997-b4b8-e524-bcc5-286719544ced-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">The story so far</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="timeline_info_component">
                <div class="timeline_info_layout">
                  <h2 li-settings:text="Timeline Heading 3" id="w-node-_4ba196e6-b23d-056a-188a-fc65e374806c-293f54b6" class="timeline_heading">{{ section.settings.text_timeline_heading_3 }}</h2>
                  <p li-settings:text="Timeline Paragraph 3" id="w-node-b5479064-c92b-3d97-a86d-e58abb37fec3-293f54b6" class="timeline_info_paragraph">{{ section.settings.text_timeline_paragraph_3 }}</p>
                  <div id="w-node-_093d3a01-abff-733f-b5a9-33970a443ba9-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">The story so far</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="timeline_info_component">
                <div class="timeline_info_layout">
                  <h2 li-settings:text="Timeline Heading 4" id="w-node-_972d5aa9-1a28-fde2-3f70-8e77c95983a2-293f54b6" class="timeline_heading">{{ section.settings.text_timeline_heading_4 }}</h2>
                  <p li-settings:text="Timeline Paragraph 4" id="w-node-fad98484-cf46-b62e-b9d4-a65352ff0cd2-293f54b6" class="timeline_info_paragraph">{{ section.settings.text_timeline_paragraph_4 }}</p>
                  <div id="w-node-_1dbf654f-1c9d-fd4a-aa5b-47fd5afaa90d-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">The story so far</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
              <div class="timeline_info_component">
                <div class="timeline_info_layout">
                  <h2 li-settings:text="Timeline Heading 5" id="w-node-_278af6b9-52d3-c2b0-e162-b018f3bbf442-293f54b6" class="timeline_heading">{{ section.settings.text_timeline_heading_5 }}</h2>
                  <p li-settings:text="Timeline Paragraph 5" id="w-node-_7ae6726a-3f9d-8d9e-c5cf-de64d45ea483-293f54b6" class="timeline_info_paragraph">{{ section.settings.text_timeline_paragraph_5 }}</p>
                  <div id="w-node-_5856c8e9-8bfd-963c-3050-c787839e7143-293f54b6" class="turned-detail-text_wrapper">
                    <div class="turned-detail-text_flex">
                      <p class="turned-detail-text_item">The story so far</p>
                      <p class="turned-detail-text_item">01</p>
                    </div>
                    <p class="turned-detail-text_item">1902 - 2025</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="w-node-e3ad4a22-e265-a685-1ea0-c9e53c164812-293f54b6" class="timeline_images_layout">
              <div class="timeline_images_section">
                <div class="timeline_images_block">{% if section.settings.image_timeline_image_1 %}
{{ section.settings.image_timeline_image_1 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item', sizes: '(max-width: 991px) 100vw, 983.9931030273438px' }}
{% else %}
<img src="{{ '20250415-1134_001.webp' | asset_url }}" class="timeline_images_item" alt="" sizes="(max-width: 991px) 100vw, 983.9931030273438px" loading="lazy">
{% endif %}</div>
              </div>
              <div class="timeline_images_section">
                <div class="timeline_images_block _2">{% if section.settings.image_timeline_image_2 %}
{{ section.settings.image_timeline_image_2 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item is-absolute _2', sizes: '(max-width: 991px) 100vw, 860.98095703125px' }}
{% else %}
<img src="{{ 'BALMAUD-FAMILY-STILLS-SCAN-7.webp' | asset_url }}" class="timeline_images_item is-absolute _2" alt="" sizes="(max-width: 991px) 100vw, 860.98095703125px" loading="lazy">
{% endif %}{% if section.settings.image_timeline_image_3 %}
{{ section.settings.image_timeline_image_3 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item is-absolute', sizes: '(max-width: 767px) 100vw, 715.9896240234375px' }}
{% else %}
<img src="{{ '20250415-1131_001.webp' | asset_url }}" class="timeline_images_item is-absolute" alt="" sizes="(max-width: 767px) 100vw, 715.9896240234375px" loading="lazy">
{% endif %}</div>
                <div class="timeline_images_block _3">{% if section.settings.image_timeline_image_4 %}
{{ section.settings.image_timeline_image_4 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item', sizes: '100vw' }}
{% else %}
<img src="{{ 'BALMAUD-FAMILY-STILLS-SCAN-6.webp' | asset_url }}" class="timeline_images_item" alt="" sizes="100vw" loading="lazy">
{% endif %}</div>
              </div>
              <div class="timeline_images_section">
                <div class="timeline_images_block _4">{% if section.settings.image_timeline_image_5 %}
{{ section.settings.image_timeline_image_5 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item _6', sizes: '(max-width: 991px) 100vw, 979.9913940429688px' }}
{% else %}
<img src="{{ 'April_balmaud_shoot-3-2.webp' | asset_url }}" class="timeline_images_item _6" alt="" sizes="(max-width: 991px) 100vw, 979.9913940429688px" loading="lazy">
{% endif %}</div>
                <div class="timeline_images_block _5">{% if section.settings.image_timeline_image_6 %}
{{ section.settings.image_timeline_image_6 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item is-absolute _3', sizes: '(max-width: 991px) 100vw, 768.9844360351562px' }}
{% else %}
<img src="{{ 'Still-2025-05-14-165856_1.163.1-3.webp' | asset_url }}" class="timeline_images_item is-absolute _3" alt="" sizes="(max-width: 991px) 100vw, 768.9844360351562px" loading="lazy">
{% endif %}</div>
              </div>
              <div class="timeline_images_section">
                <div class="timeline_images_block">{% if section.settings.image_timeline_image_7 %}
{{ section.settings.image_timeline_image_7 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item _4', sizes: '(max-width: 991px) 100vw, 873.9844360351562px' }}
{% else %}
<img src="{{ 'Screenshot-2024-09-24-at-11.19.49-2.webp' | asset_url }}" class="timeline_images_item _4" alt="" sizes="(max-width: 991px) 100vw, 873.9844360351562px" loading="lazy">
{% endif %}</div>
              </div>
              <div class="timeline_images_section">
                <div class="timeline_images_block">{% if section.settings.image_timeline_image_8 %}
{{ section.settings.image_timeline_image_8 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'timeline_images_item _5', sizes: '(max-width: 991px) 100vw, 974.9913940429688px' }}
{% else %}
<img src="{{ 'Group-773.webp' | asset_url }}" class="timeline_images_item _5" alt="" sizes="(max-width: 991px) 100vw, 974.9913940429688px" loading="lazy">
{% endif %}</div>
              </div>
            </div>
          </div>
        </div>
       {% schema %} {
    "tag": "section",
    "name": "Timeline",
    "class": "timeline_section",
    "settings": [
        {
            "id": "text_timeline_heading_1",
            "type": "text",
            "label": "Timeline Heading 1",
            "default": "THREE GENERATIONS TO REACH THIS POINT"
        },
        {
            "id": "text_timeline_paragraph_1",
            "type": "text",
            "label": "Timeline Paragraph 1",
            "default": "Balmaud began not as a distillery, but as a family farm – with the family farming for generations in the North East of Scotland. It was George Strachan who first saw the potential of this land, moving to Mill of Balmaud Farm in 1958 alongside his brother, Nat. That knowledge has now been passed down through three generations.For years, building a distillery on the farm was just a dream. An idea found a place in Wilson’s mind and slowly grew, later starting conversations around the kitchen table and developing into what we now call Balmaud. George imagined a spirit made from their own barley, shaped by their own hands. Today, that vision lives on in Balmaud – a new name in Scotch whisky, but one built on generations of hard work, care, and connection to the land."
        },
        {
            "id": "text_timeline_heading_2",
            "type": "text",
            "label": "Timeline Heading 2",
            "default": "Providing to the whisky world"
        },
        {
            "id": "text_timeline_paragraph_2",
            "type": "text",
            "label": "Timeline Paragraph 2",
            "default": "Before Balmaud became a distillery, it was already part of the whisky world. For decades, the Strachan family’s barley quietly made its way into some of Scotland’s most celebrated spirits – grown to the highest standards, trusted by master distillers, and known for its quality.Farming over 1,750 acres across Aberdeenshire, the family has long been one of the region’s most respected suppliers of malting barley.This behind-the-scenes contribution laid the foundation for what Balmaud would become: a distillery built with respect for tradition, but a desire to do things differently – bringing every step of the process home."
        },
        {
            "id": "text_timeline_heading_3",
            "type": "text",
            "label": "Timeline Heading 3",
            "default": "A Single Estate Distillery"
        },
        {
            "id": "text_timeline_paragraph_3",
            "type": "text",
            "label": "Timeline Paragraph 3",
            "default": "Balmaud is a true Highland Single Estate Distillery – where every part of the whisky-making journey happens in one place, on land the family knows like the back of their hands.Barley is grown in the fields surrounding the stillhouse. Water is drawn just yards away, from a source that has served the farm for decades. And the distillery is powered by two on-site wind turbines, generating clean energy from the same landscape that grows the grain.From fermentation through to cask storage, everything happens here. It’s a process built with care, precision and full traceability – from seed to spirit. That level of control means every cask reflects the values Balmaud was founded on: integrity, sustainability, and a deep respect for the land."
        },
        {
            "id": "text_timeline_heading_4",
            "type": "text",
            "label": "Timeline Heading 4",
            "default": "A Focus on sustainability"
        },
        {
            "id": "text_timeline_paragraph_4",
            "type": "text",
            "label": "Timeline Paragraph 4",
            "default": "Sustainability isn’t just a feature of the Balmaud distillery – it’s part of its foundation. From the earliest planning stages, every decision has been made with care for the land and long-term responsibility in mind.The two wind turbines that power the distillery draw energy from the same hills that grow the grain. Heat and water are recycled throughout the process, improving efficiency and reducing bi-product, with the remainder being thoughtfully disposed of through an anaerobic digestion system. With the whisky-making journey taking place on-site, emissions are reduced at every step – from grain to cask."
        },
        {
            "id": "text_timeline_heading_5",
            "type": "text",
            "label": "Timeline Heading 5",
            "default": "Our First Spirit Release"
        },
        {
            "id": "text_timeline_paragraph_5",
            "type": "text",
            "label": "Timeline Paragraph 5",
            "default": "Balmaud’s story begins not with whisky, but with the launch of our debut Scottish Dry Gin, soon to be followed by carefully crafted vodka and rum. These early spirits offer a first glimpse into the character of what we're building, while our whisky matures quietly in casks.Distilled on-site with the same care and precision that guides our whisky-making, our gin is refreshing and gently complex. The nose opens with soft citrus - orange, lemon, and a delicate hint of pomegranate. On the palate, a sweet, fruity start gives way to clean citrus notes, balanced by a touch of juniper, best enjoyed simply with tonic and a slice of orange.This gin marks the beginning of a new chapter for Balmaud - and provides a first taste of the care, craft, and character that will define every spirit we release."
        },
        {
            "id": "image_timeline_image_1",
            "type": "image_picker",
            "label": "Timeline Image 1"
        },
        {
            "id": "image_timeline_image_2",
            "type": "image_picker",
            "label": "Timeline Image 2"
        },
        {
            "id": "image_timeline_image_3",
            "type": "image_picker",
            "label": "Timeline Image 3"
        },
        {
            "id": "image_timeline_image_4",
            "type": "image_picker",
            "label": "Timeline Image 4"
        },
        {
            "id": "image_timeline_image_5",
            "type": "image_picker",
            "label": "Timeline Image 5"
        },
        {
            "id": "image_timeline_image_6",
            "type": "image_picker",
            "label": "Timeline Image 6"
        },
        {
            "id": "image_timeline_image_7",
            "type": "image_picker",
            "label": "Timeline Image 7"
        },
        {
            "id": "image_timeline_image_8",
            "type": "image_picker",
            "label": "Timeline Image 8"
        }
    ],
    "presets": [
        {
            "name": "Timeline",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}